@use '../base/typography' as fonts;
.dashboard{

    &__header{
        display: flex;
        align-items: center;
        padding: 1em 2.5em;
        justify-content: space-between;
        & .input_container{
            margin-top: 0;
            width: 400px;
            & .input{
                width: 100%;
            }
        }
        & *+*{
            margin-top: 0;
        }
        & .search{
            margin-top: 0;
        }
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
        &__right{
            display: flex;
            align-items: center;
            justify-content: space-between;
          & .docs{
              list-style-type: none; 
              margin-right: 3em;
              & a{
                 color: fonts.$primary;
              }  
          }  
          & .bell{
            margin-right: 2em;
          }
        }
    }
    &__main{
        display: flex;
        width: 100vw;
        height: 100%;
        background-color: #FBFBFB;
        margin-top: 0;
        &__sidebar{
            max-width: 283px;
            background: #FFFFFF;
            color: #CAD1E0;
            & *+*{
                margin-top: 0;
            }
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
& > li:first-of-type{
    margin-bottom: 1.5em;
    
    margin-top: 2em;
    color: fonts.$primary ;
}
& > li:nth-of-type(2){
    margin-bottom: 2em;
}
& .header{
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
color: fonts.$secondary1;
margin: 1em 0;
}


&  > *{
   padding-left: 2em;
}
        }
        &__body{
            color: fonts.$primary;
            & h1{
                margin: 0;
                font-weight: 500;
font-size: 24px;
            }
            min-width: 75%;
            margin: 4em auto 0;
        }
    }
}

.profile{
    display: flex;
    align-items: center;
    &__avatar{
        width: 3em;
        height: 3em;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0.5em;
    }
    &__name > span{
        display: flex;
        align-items: center;
        color: fonts.$primary;
    & *+*{
        margin-left: 0.5em;
    }
    }
}


.active{

    color: fonts.$primary ;

    &.list-item{
background-color: #F3FCFC;
border-left: 2px solid fonts.$secondary;
    }
}

.list-item{
    display: flex;
    align-items: center;
    list-style-type: none;

    padding: 1em 2em;
    
    & *+*{
        margin-top: 0;
        
    }
    & *{
        margin-right: 0.8em;
    }

    &:hover{
        cursor: pointer;
    }
}

.card{
    width: 240px;
    padding: 1.5em;
    background-color: #fff;
    border: 1px solid rgba(33, 63, 125, 0.06);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
& p{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
color: fonts.$secondary1;
text-transform: uppercase;
}

& span{
    font-weight: 600;
font-size: 24px;
line-height: 28px;

color: fonts.$primary;
}
&__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & *+*{
        margin-top: 0;
    }
}
}

.table{
    
    font-size: 12px;
    padding: 2em;
    grid-auto-rows: 1fr;
    color: fonts.$secondary1;
    background-color: #fff;
    border: 1px solid rgba(33, 63, 125, 0.06);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
&__header{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    & span{
        grid-column: span 2;
    }
}
&__user{
    display: grid;
    
    font-size: 14px;
line-height: 16px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);;
    align-items: center;
    grid-template-columns:  repeat(auto-fit,minmax(50px,1fr));
    & span{
        grid-column: span 2;
    }
}
    & .header{
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        text-transform: uppercase;
        color: fonts.$secondary1;
        & img{
            width: 1em;
            margin-left: 10px;
        }
    }
    & *+*{
        margin-top: 0;
    }
}

.hack{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pill{
   padding: 0.5em 1em;
    background-color: #F5F6F7;
    border-radius: 100px;
}

.paginate{
    color: fonts.$secondary1;
    & > span > select{
        background: rgba(33, 63, 125, 0.1);
border-radius: 4px;
outline: none;
border: none;
font-weight: 500;
padding: 0.3em 1em;
color: fonts.$primary;
        margin-inline: 0.5em;
    }
    display: flex;
    justify-content: space-between;
    * + *{
        margin-top: 0;
    }

    .page_count{
        display: flex;
        align-items: center;
    
        color: #969DAF;
    }
 
    .selectedPage{
        color: fonts.$primary;
    }
}

.next{
    margin-left: 20px;
    background-color:#E5E8EE ;
    border: none;
    padding: 1em;
    border-radius: 0.3em;
    &:hover{
        cursor: pointer;
    }
    & div:first-of-type{
        display: block;
        position: relative;
        content: '';
        width: 0.5em;
        height: 2px;
        background-color: fonts.$primary;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translateY(-2px) rotate(50deg);
        &.disabled{
            background-color: #8D9CBB;
        }
    }
    & div:last-of-type{
        display: block;
        content: '';
        width: 0.5em;
        height: 2px;
        background-color: fonts.$primary;
        transform:   rotate(-50deg);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        &.disabled{
            background-color: #8D9CBB;
        }
    }
}
.prev{
    background-color:#E5E8EE ;
    padding: 1em;
    border: none;
    border-radius: 0.3em;
    &:hover{
        cursor: pointer;
    }
    & div:first-of-type{
        display: block;
        position: relative;
        content: '';
        width: 0.5em;
        height: 2px;
        background-color: fonts.$primary;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transform: translateY(-2px) rotate(-50deg);
        &.disabled{
            background-color: #8D9CBB;
        }
    }
    & div:last-of-type{
        display: block;
        content: '';
        width: 0.5em;
        height: 2px;
        background-color: fonts.$primary;
        transform:   rotate(50deg);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        &.disabled{
            background-color: #8D9CBB;
        }
    }
}
